<script src="resources/js/custom.js"></script>
<script src="resources/js/plugins.min.js"></script>
<div class="site-wrapper" id="top">
    <section class="hero-area section-margin">
        <div class="handart-slick-slider hero-slider" data-slick-setting='{
        "autoplay": true,
        "autoplaySpeed": 8000,
        "slidesToShow": 1,
        "arrows": true,
        "prevArrow":{"buttonClass": "slick-prev","iconClass":"ion-ios-arrow-left"},
        "nextArrow":{"buttonClass": "slick-next","iconClass":"ion-ios-arrow-right"}
    }'>
            <div class="single-slider hero-content bg-image" data-bg="resources/image/bg-images/home-1/home-slider-image-1.jpg">
                <div class="container position-relative">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="icon">
                                <img src="resources/image/icon/slider-icon-1.png" alt="">
                            </div>
                            <h1>Hand Made Product</h1>

                            <p>Typi Non Habent Claritatem Insitam Est Usus Legentis In Qui Facit</p>

                            <div class="slider-btn">
                                <a href="shop-grid.html" class="btn btn-outlined">Shop Now</a>
                            </div>

                        </div>
                    </div>

                </div>
                <span class="herobanner-progress"></span>
            </div>
            <div class="single-slider hero-content bg-image" data-bg="resources/image/bg-images/home-1/home-slider-image-2.jpg">
                <div class="container position-r
            elative">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="icon">
                                <img src="resources/image/icon/slider-icon-2.png" alt="">
                            </div>
                            <h1>Sale Off Hand Made</h1>

                            <p>Typi Non Habent Claritatem Insitam Est Usus Legentis In Qui Facit</p>

                            <div class="slider-btn">
                                <a href="shop-grid.html" class="btn btn-outlined">Shop Now</a>
                            </div>

                        </div>
                    </div>
                </div>
                <span class="herobanner-progress"></span>
            </div>
            <div class="single-slider hero-content bg-image" data-bg="resources/image/bg-images/home-1/home-slider-image-2.jpg">
                <div class="container position-r
            elative">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="icon">
                                <img src="resources/image/icon/slider-icon-3.png" alt="">
                            </div>
                            <h1>Home Decor Product</h1>

                            <p>Typi Non Habent Claritatem Insitam Est Usus Legentis In Qui Facit</p>

                            <div class="slider-btn">
                                <a href="shop-grid.html" class="btn btn-outlined">Shop Now</a>
                            </div>

                        </div>
                    </div>
                </div>
                <span class="herobanner-progress"></span>
            </div>
        </div>
    </section>
    <section class="section-margin welcome-section">
        <div class="container">
            <div class="row justify-content-center section-padding border-bottom">
                <div class="col-lg-8">
                    <div class="welcome-content">
                        <h6 class="title-xs">Who We Are</h6>
                        <div class="section-title">
                            <h2>Welcome To Handart</h2>
                            <div class="title-sep">
                                <img src="resources/image/icon/title-sep-icon.png" alt="">
                            </div>
                        </div>
                        <article class="welcome-description">
                            <h4 class="sr-only">Welcome Article</h4>
                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
                                augue duis dolore te feugait nulla facilisi.</p>
                        </article>
                        <div class="author-block">
                            <a href="#"> <span class="font-weight-mid text-black text-uppercase">Jhon doe</span> - CEO Handart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-image section-margin section-padding section-padding-top" data-bg="resources/image/bg-images/home-1/bg-testimonial.jpg">
        <div class="container">
            <div class="testimonial-slider handart-slick-slider arrow-type-two" data-slick-setting='{
        "autoplay": true,
        "autoplaySpeed": 8000,
        "slidesToShow": 1,
        "arrows": true,
        "prevArrow":{"buttonClass": "slick-prev","iconClass":"fa fa-chevron-left"},
        "nextArrow":{"buttonClass": "slick-next","iconClass":"fa fa-chevron-right"}
    }'>
                <div class="single-slide">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <div class="testimonial-content">
                                    <div class="testimonial-avatar">
                                        <img src="resources/image/others/testimonial-avatar.png" alt="">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>
                                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores
                                            legere me lius quod ii legunt saepius.
                                        </p>
                                        <span class="quote-image">
												<img src="resources/image/icon/quotation.png" alt="">
											</span>
                                        <h5 class="author">orando BLoom</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <div class="testimonial-content">
                                    <div class="testimonial-avatar">
                                        <img src="resources/image/others/testimonial-avatar.png" alt="">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>
                                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores
                                            legere me lius quod ii legunt saepius.
                                        </p>
                                        <span class="quote-image">
												<img src="resources/image/icon/quotation.png" alt="">
											</span>
                                        <h5 class="author">orando BLoom</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <div class="testimonial-content">
                                    <div class="testimonial-avatar">
                                        <img src="resources/image/others/testimonial-avatar.png" alt="">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>
                                            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores
                                            legere me lius quod ii legunt saepius.
                                        </p>
                                        <span class="quote-image">
												<img src="resources/image/icon/quotation.png" alt="">
											</span>
                                        <h5 class="author">orando BLoom</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding">
        <h2 class="sr-only">Promotion Imgaes</h2>
        <div class="container">
            <div class="row space-db--30">
                <div class="col-lg-6 mb--30">
                    <a href="#" class="overflow-image">
                        <img src="resources/image/others/promo-images.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-6 mb--30">
                    <a href="#" class="overflow-image">
                        <img src="resources/image/others/promo-images-2.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-margin">
        <h2 class="sr-only">Method section</h2>
        <div class="container">
            <div class="row  border-bottom section-padding space-dt--30">
                <div class="col-md-4 col-sm-6 mt--30">
                    <div class="method-card">
                        <div class="icon">
                            <img src="resources/image/icon/method-icon-1.png" alt="">
                        </div>
                        <article class="text">
                            <h3 class="method-title"><a href="#">FREE SHIPPING WORLDWIDE</a></h3>
                            <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram</p>
                        </article>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt--30">
                    <div class="method-card">
                        <div class="icon">
                            <img src="resources/image/icon/method-icon-2.png" alt="">
                        </div>
                        <article class="text">
                            <h3 class="method-title"><a href="#">MONEY BACK GUARANTEE</a></h3>
                            <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram</p>
                        </article>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt--30">
                    <div class="method-card">
                        <div class="icon">
                            <img src="resources/image/icon/method-icon-3.png" alt="">
                        </div>
                        <article class="text">
                            <h3 class="method-title"><a href="#">ONLINE SUPPORT 24/7</a></h3>
                            <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>